<form action="/posts/<%= @post.id %>" method="post">
  <h1>Edit a post</h1><br><br><br>
  <input type="hidden" name="_method" value="PATCH" />

Title:<input type="text" name="posts[title]" value="<%= @post.title %>"><br><br>
Body:<br><textarea name="posts[body]" cols="100" rows="30"><%= @post.body %></textarea><br><br>
Author:<input type="text" name="posts[author]" value="<%= @post.author %>"><br><br>
Tags:<input type="text" name="posts[tag]" value="
<% @post.tags.each_with_index do |t, index| %>
<%= ", " unless index == 0 %><%= t.name %>
<%end%>"><br><br>
<input type="submit" value="Confirm"></form>
<br>
<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this post">
</form>
<br>